.footer-style {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  font-family: "Work Sans", sans-serif;
  white-space: break-word;
  -webkit-box-shadow: 0px 23px 9px 19px blue;
  box-shadow: 0px 23px 9px 19px blue;
}
.name {
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: var(--link-color);
  font-size: 20px;
}
