th.body-color,
td.body-color {
  color: var(--body-color);
  font-size: 20px;
  text-align: center;
}

.navigate-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  direction: ltr;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.navigate-btn {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.select {
  color: black;
}
.css-13cymwt-control {
  border-radius: 0 !important;
}
.count {
  text-align: center;
  font-weight: 700;
}
.post-image {
  width: 100%;
  height: 11vh;
}
.post-image img {
  width: 100%;
  height: 11vh;
  margin-top: 1vh;
  font-size: 14px;
}
.center-content {
  position: relative;
/*   top: 3vh; */
   vertical-align: middle;
}

/* @media (max-width: 767px) and (orientation: portrait) {
  .center-content {
    top: 5vh;
  }
} */

.btn-group button {
  font-size: 16px;
  margin: 0 7px;
}

@media (max-width: 768px) {
  .navigate-btn {
    width: 30px;
  }
  .btn-group button {
    font-size: 14px;
    padding: 12px;
  }
}

@media (max-width: 320px) {
  .navigate-btns {
    margin-bottom: 6rem;
  }
}
